PORT=4000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/assets-manager
JWT_SECRET=cambia_esto_por_un_secreto_seguro
FRONTEND_URL=https://tu-app.vercel.app
GMAIL_VAULT_KEY=genera_uno_con_node_-e_"console.log(require('crypto').randomBytes(32).toString('hex'))"
